<nav
  role="navigation"
  aria-label="Global menu navigation"
  data-test-id="menu-nav-block"
  class="mmszp8b"
>
  <ul class="nv82r5d">
    <li data-test-id="Home">
      <a class="c1t906u0 c1t906u0--level-0" href="/home"
        ><svg
          class="i4w4pc3 i4w4pc3--home"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#home-icon"></use></svg
        ><span class="tmwmf9v">Home</span></a
      >
    </li>
    <li data-test-id="Email API">
      <a class="c1t906u0 c1t906u0--level-0" href="/sending/analytics"
        ><svg
          class="i4w4pc3 i4w4pc3--sending"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#sending-icon"></use></svg
        ><span class="tmwmf9v">Email API</span
        ><span data-test-id="nav-item-new-badge" class="b1ojcazn">new</span
        ><svg
          class="i4w4pc3 i4w4pc3--arrow-down"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#arrow-down-icon"></use></svg
      ></a>
    </li>
    <li data-test-id="Sandbox">
      <a class="c1t906u0 c1t906u0--level-0" href="/inboxes"
        ><svg
          class="i4w4pc3 i4w4pc3--testing"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#testing-icon"></use></svg
        ><span class="tmwmf9v">Sandbox</span
        ><svg
          class="i4w4pc3 i4w4pc3--arrow-down"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#arrow-down-icon"></use></svg
      ></a>
    </li>
    <li data-test-id="Billing">
      <a class="c1t906u0 c1t906u0--level-0" href="/billing/dashboard"
        ><svg
          class="i4w4pc3 i4w4pc3--billing"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#billing-icon"></use></svg
        ><span class="tmwmf9v">Billing</span
        ><svg
          class="i4w4pc3 i4w4pc3--arrow-down"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#arrow-down-icon"></use></svg
      ></a>
    </li>
    <li data-test-id="User Management">
      <a class="c1t906u0 c1t906u0--level-0" href="/user-management"
        ><svg
          class="i4w4pc3 i4w4pc3--user-management"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#user-management-icon"></use></svg
        ><span class="tmwmf9v">User Management</span></a
      >
    </li>
    <li data-test-id="API">
      <a class="c1t906u0 c1t906u0--level-0" href="/api-tokens"
        ><svg class="i4w4pc3 i4w4pc3--key" aria-hidden="true" focusable="false">
          <use xlink:href="#key-icon"></use></svg
        ><span class="tmwmf9v">API</span
        ><svg
          class="i4w4pc3 i4w4pc3--arrow-down"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#arrow-down-icon"></use></svg
      ></a>
    </li>
    <li data-test-id="Account Settings">
      <a
        class="c1t906u0 c1t906u0--level-0 c1t906u0--isOpen c1t906u0--isActive active"
        href="/account-management"
        aria-current="page"
        ><svg
          class="i4w4pc3 i4w4pc3--document"
          aria-hidden="true"
          focusable="false"
        >
          <use xlink:href="#document-icon"></use></svg
        ><span class="tmwmf9v">Account Settings</span></a
      >
    </li>
  </ul>
</nav>
