.r_small {
  font-size: 14px;
  color: #3e7d9b;
}
.r_big {
  font-weight: medium;
  color: #275dde;
  margin-left: 10px;
}
.r_bigger {
  font-size: 48px;
}
/* bg="#5c93fc"
color="black"
ml="5px"
border="1px solid #5c93fc"
_hover={{ bg: "#5c93fc", color: "white" }} */
.rbutton {
  padding: 6px;
  padding-inline: 10px;
  margin-left: 5px;
  border-radius: 5px;
  color: black;
  border: 1px solid #5c93fc;
}
.rbutton:hover {
  background-color: #5c93fc;
  color: white;
}

.rheading {
  margin-top: 5px;
  margin: bottom;
  color: #275dde;
  font-size: 17px;
  font-weight: 500;
}
/* my="10px" textAlign="center" color="#a3ab9b" */
.rheading2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #a3ab9b;
  font-size: 17px;
  font-weight: 500;
}
/* pl="2%"
color="white"
 w="24%"
 h="100vh"
 bg="#1b2d44" */
.rsidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1233;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 2%;
  height: 100vh;
  background-color: #1b2d44;
  width: 260px;
}
.rsidebar::-webkit-scrollbar {
  display: none;
}
.rmaindiv {
  position: relative;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 2%;
  height: 100vh;
}
.rmaindiv::-webkit-scrollbar {
  display: none;
}
.navcomp {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background-color: #1b2d44;
  z-index: 2000;
}
